In [ ]:
print( 'hello world!' ) # hello world!

In [1]:
print( 'My favorite colors are', 'blue', 'green', 'red')

My favorite colors are blue green red

 A data type describes the kind of value a variable holds. 
 For example, a number, a piece of text, or a list of items. Programming languages use data types so they know how to store and work with different kinds of information.

Python is a dynamically-typed language like JavaScript, meaning you don't need to explicitly declare types for variables. The language knows what data type a variable is based on what you assign to it.

Here are some examples:

name = 'John Doe' # Python knows this is a string
age = 25 # Python knows this is an integer

Here are the most common data types you'll use in Python:

Integer: A whole number w/o decimals, example: 10 or -5

In [18]:
my_integer_var = 10
print('Integer:', my_integer_var) # Integer: 10

Integer: 10

Float: A number with a decimal point, like 4.41 or -0.4

In [4]:
my_float_var = 4.50
print('This is my', 'float:', my_float_var) # This is my float 4.5

This is my float: 4.5

String: A sequence of characters (letters) enclosed in single or double quotation marks like, "Hello world" & 'blue'

In [5]:
my_string_var = 'hello to me'
print('string is:' , my_string_var, 'and i am cool') #string is: hello to me and i am cool

string is: hello to me and i am cool

Boolean: A true or false type, written as True or False #notice the capital T and F

In [7]:
my_boolean_var = True 
print( 'is the sky', 'blue?', my_boolean_var) #is the sky blue? True

is the sky blue? True

Set: Unordered collection of unique elements with curly brackets, like {4,2,0}

[LIST], (TUPLES), & {SETS} - VISUALLY EXPLAINED

Symbol	Meaning
[]	    Lists, indexing, slicing
()	    Tuples, functions
{}	    Dictionaries, sets

In [37]:
#LIST
['a', 'b', 'c', 'a']

['a', 'b', 'c', 'a']

In [38]:
#TUPLE
('a', 'b', 'c', 'a')

('a', 'b', 'c', 'a')

[list] and (tuple) keep duplicates

[list] and (tuple) are ordered

In [39]:
#SET
{'a', 'b', 'c', 'a'}

{'a', 'b', 'c'}

*Important:{sets} are useful to automatically eliminate duplicate values

{sets} are unordered, meaning the  are not assigned to a position or index


Suppose you have a [list] of randomized numbers and you only want the unique values, simply convert the list to a set...which automatically filter out repeated values

In [43]:
#LIST TO SET EXAMPLE 
numbers = [1,1,1,5,4,3,2,6,8,7,9,9,9,9,8]
set(numbers)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

then if you want to work with the list again, simply cast it back into the list:

In [44]:
#LIST TO SET, THEN BACK TO LIST EXAMPLE 
numbers = [1,1,1,5,4,3,2,6,8,7,9,9,9,9,8]
set(numbers)
list(set(numbers))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

[list] and (tuple)'s have ordered collections, meaning each value has a position called an index, assigning the [list] and (tuple) to a variable

The index is used to access any of the values position individually

In [52]:
#LIST
my_list = ['a', 'b', 'c', 'a']
print(my_list[0])

a

In [53]:
#TUPLE INDEXING 
my_tuple = ('a', 'b', 'c', 'a')
print(my_tuple[2]) #to get the correct index value you must use [list] bracket around the number position

c

ðŸ§  How Indexing Works (Think of Positions)

Each item has a position starting at 0:

# Index:     0    1    2    3
my_tuple = ('a', 'b', 'c', 'a')


So:

my_tuple[0] â†’ 'a'

my_tuple[1] â†’ 'b'

my_tuple[2] â†’ 'c'

my_tuple[3] â†’ 'a'

ðŸ”‘ Mental Rule (Memorize This)

Parentheses () â†’ creating tuples or calling functions

Square brackets [] â†’ indexing, listing and slicing

In [1]:
my_set_var = {10,45,78}
print( 'code notation' , my_set_var , 'is complete')

code notation {10, 45, 78} is complete

In [36]:
numbers = 0,1, 2, 3, 4
uniques = set(numbers)
uniques.add(5)
uniques.add(6)
uniques.add(7)
print(uniques)

{0, 1, 2, 3, 4, 5, 6, 7}

Dictionary: A collection of key-value pairs enclosed with curly brackets

In [6]:
my_dictionary_var = {'name': 'Alice', 'age': 25}
print('Dictionary:' , my_dictionary_var)

Dictionary: {'name': 'Alice', 'age': 25}

In [26]:
my_dictionary_var = {'patient name': 'Susan' , 'patient age' : 68}
print('abh patient portal:', my_dictionary_var)

abh patient portal: {'patient name': 'Susan', 'patient age': 68}

In [28]:
my_dictionary_var = {'name': 'Jake' , 'age' : 47}
print('employee roster:', my_dictionary_var)

employee roster: {'name': 'Jake', 'age': 47}